@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.calc-text{
    color: white;
    margin-right: 20.5rem;
    font-weight: 700;
    padding-bottom: 5px;
}

.input-field{
    width: 330px;
    height: 5.5rem;
    background: #000000;
    color:white;
    border-radius: 0.5rem;
    font-size: 2rem;
    text-align: right;
    letter-spacing: 0.2rem;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
    box-shadow: 4px 7px 32px 0px #00000070;
}

.grid-container{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    background: #252D44;
    color: white;
    width: 330px;
    height: 260px;
    padding: 1.5rem 1rem;
    font-weight: 800;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 7px 32px 0px #00000070;
}
.grid-item{
    color: #000000;
    background-color: white;
    padding: 0.3rem 0;
    border-radius: 0.5rem;
    width: 4rem;
}
.delete{
    background-color: #647299;
    color: white;
    font-weight: 700;    
}

.reset{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #647299;
    color: white;
    width: 9rem;
    padding: 0.3rem 0;
    letter-spacing: 2px;
    font-weight: 700;    
}
.equals{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #D13F30;
    color: white;
    width: 9rem;
    padding: 0.3rem 0;
}